/* GENERAL STYLES */

body, h1, h4 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600 !important;
}
.font-weight-light {
    font-weight: 300 !important;
}

/* NEXT STOPS LIST */
ul#next-stops-list {
    list-style-type: square;
}
ul#next-stops-list li {
    position:relative
}
ul#next-stops-list li span:not(.active-colour) {
    color: black;
}
ul#next-stops-list li span.skipped-colour {
    color: rgb(155, 155, 155);
}
ul#next-stops-list li span:after {
    content: '';
    position: absolute;
    left: -20px;
    bottom: 0;
    z-index: -1;
    height: 100%
}
body[data-colour="red"] ul#next-stops-list li span:after {
    border-left: 5px solid rgb(208, 32, 46);
}
body[data-colour="yellow"] ul#next-stops-list li span:after {
    border-left: 5px solid rgb(252, 184, 24);
}
body[data-colour="dark-blue"] ul#next-stops-list li span:after {
    border-left: 5px solid rgb(1, 81, 138);
}
body[data-colour="light-blue"] ul#next-stops-list li span:after {
    border-left: 5px solid rgb(0, 168, 228);
}
body[data-colour="green"] ul#next-stops-list li span:after {
    border-left: 5px solid rgb(0, 150, 69);
}
body[data-colour="pink"] ul#next-stops-list li span:after {
    border-left: 5px solid rgb(241, 127, 177);
}
body[data-colour="red"] ul#next-stops-list {
    color: rgb(208, 32, 46);
}
body[data-colour="yellow"] ul#next-stops-list {
    color: rgb(252, 184, 24);
}
body[data-colour="dark-blue"] ul#next-stops-list {
    color: rgb(1, 81, 138);
}
body[data-colour="light-blue"] ul#next-stops-list {
    color: rgb(0, 168, 228);
}
body[data-colour="green"] ul#next-stops-list {
    color: rgb(0, 150, 69);
}
body[data-colour="pink"] ul#next-stops-list {
    color: rgb(241, 127, 177);
}
.two-columns {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-width: 20%;
}

/* LINE COLOURS */
body[data-colour="red"] .active-colour {
    background-color: rgb(208, 32, 46);
    color: #FFF;
}
body[data-colour="yellow"] .active-colour {
    background-color: rgb(252, 184, 24);
    color: #222;
}
body[data-colour="dark-blue"] .active-colour {
    background-color: rgb(1, 81, 138);
    color: #FFF;
}
body[data-colour="light-blue"] .active-colour {
    background-color: rgb(0, 168, 228);
    color: #222;
}
body[data-colour="green"] .active-colour {
    background-color: rgb(0, 150, 69);
    color: #FFF;
}
body[data-colour="pink"] .active-colour {
    background-color: rgb(241, 127, 177);
    color: #222;
}

/* DISRUPTIONS */
ul#disruption-list {
    list-style-type: none;
}
.disruption {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;	
    border: 8px solid black;
    position: relative;
    top: -5px;			
}
#following-departures .disruption {
    top: 0;
}			
#following-departures .disruption-message ul {
    padding-left: 0;
}
#following-departures .disruption-message li {
    list-style-type: none;
}
.disruption.minordelays {
    border-color: #e87801;
}
.disruption.majordelays {
    border-color: #e5492d;
}
.disruption.worksalert, .disruption.plannedworks {
    border-color: #ffd500;
}
.disruption.travelalert, .disruption.serviceinformation {
    border-color: #d3ecf4;
}
.disruption.suspended, .disruption.partsuspended {
    border-color: #1f1f1f;
}
.disruption.goodservice {
    border-color: #90af53;
}